.center {
  display: flex;
  align-items: center;
  justify-content: center; }

.center-x {
  display: flex;
  justify-content: center; }

.center-y {
  display: flex;
  align-items: center; }

.error-input {
  border-color: red; }

.float-right {
  float: right; }

.float-left {
  float: left; }

.destaque {
  display: contents;
  color: #559ef6;
  font-weight: bold; }

.btn-config {
  border-radius: 20px;
  background-color: #559ef6;
  color: #fff;
  padding: 9px 25px; }

.btn-config-2 {
  border-radius: 20px;
  background-color: #ff5353;
  color: #fff;
  padding: 9px 25px; }

.btn-config-3 {
  border-radius: 20px;
  background-color: #5353ff;
  color: #fff;
  padding: 9px 25px; }

.pointer {
  cursor: pointer; }

.btn-config:hover {
  cursor: pointer;
  background-color: #fff !important;
  color: #559ef6;
  box-shadow: inset 0 0 0 3px #559ef6;
  border-color: #559ef6; }

.btn-config-2:hover {
  cursor: pointer;
  background-color: #fff !important;
  color: #ff5353;
  box-shadow: inset 0 0 0 3px #ff5353;
  border-color: #ff5353; }

.btn-config-3:hover {
  cursor: pointer;
  background-color: #fff !important;
  color: #5353ff;
  box-shadow: inset 0 0 0 3px #5353ff;
  border-color: #5353ff; }

.group {
  position: relative;
  margin-bottom: 45px; }

input {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  background: transparent;
  border-bottom: 1px solid #838181;
  color: #dedede; }

input:focus {
  outline: none;
  border-bottom: 0px solid #838181; }

/* LABEL ======================================= */
label {
  color: #838181;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all; }

/* active state */
input:focus ~ label, input:valid ~ label {
  top: -20px;
  font-size: 14px;
  color: #838181; }

/* BOTTOM BARS ================================= */
.bar {
  position: relative;
  display: block;
  width: 100%; }

.bar:before, .bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #838181;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all; }

.bar:before {
  left: 50%; }

.bar:after {
  right: 50%; }

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width: 50%; }

/* HIGHLIGHTER ================================== */
.highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5; }

/* active state */
input:focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease; }

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
  from {
    background: white; }
  to {
    width: 0;
    background: transparent; } }
@-moz-keyframes inputHighlighter {
  from {
    background: white; }
  to {
    width: 0;
    background: transparent; } }
@keyframes inputHighlighter {
  from {
    background: white; }
  to {
    width: 0;
    background: transparent; } }
@media screen and (max-width: 1200px) {
  .content-services-mob .content-grid-services .serv-col-mob {
    height: 100%;
    padding: 10px;
    min-width: 230px; }
    .content-services-mob .content-grid-services .serv-col-mob .content-ser-back {
      height: 100%;
      max-width: 500px;
      background-color: transparent; }

  .services-mob {
    width: 100%;
    height: 350px;
    background-color: #559ef6;
    display: flex; }
    .services-mob .send-you-site {
      display: flex;
      align-self: flex-end;
      width: 100%;
      height: 55%;
      justify-content: center;
      align-items: center;
      margin-bottom: 25px; }
      .services-mob .send-you-site .content-send-site {
        width: 900px;
        height: 100%;
        background-color: #fff; } }
@media screen and (max-width: 992px) {
  header.masthead {
    padding-top: 50px;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }

  .responsive-top {
    margin-top: 50px !important; }

  .content-services-mob .content-grid-services .serv-col-mob {
    height: 100%;
    padding: 10px;
    min-width: 300px; }
    .content-services-mob .content-grid-services .serv-col-mob .content-ser-back {
      height: 100%;
      max-width: 500px;
      background-color: transparent; }

  .services-mob {
    width: 100%;
    height: 1100px;
    background-color: #559ef6; }
    .services-mob .send-you-site {
      display: flex;
      align-self: flex-end;
      width: 100%;
      height: 30%;
      justify-content: center;
      align-items: center;
      margin-bottom: 70px; }
      .services-mob .send-you-site .content-send-site {
        width: 90%;
        height: 100%;
        background-color: #fff; } }
@media screen and (max-width: 768px) {
  .respo-footer {
    text-align: center;
    margin-top: 20px; }

  .content-services-mob .content-grid-services .serv-col-mob {
    height: 100%;
    padding: 10px;
    min-width: 500px; }
    .content-services-mob .content-grid-services .serv-col-mob .content-ser-back {
      height: 100%;
      max-width: 500px;
      background-color: transparent; }

  .services-mob {
    width: 100%;
    height: 1800px;
    background-color: #559ef6; }
    .services-mob .send-you-site {
      display: flex;
      align-self: flex-end;
      width: 100%;
      height: 25%;
      justify-content: center;
      align-items: center;
      margin-bottom: 40px; }
      .services-mob .send-you-site .content-send-site {
        width: 95%;
        height: 100%;
        background-color: #fff; } }
@media screen and (max-width: 525px) {
  .content-services-mob .content-grid-services .serv-col-mob {
    height: 100%;
    padding: 10px;
    min-width: 90%; }
    .content-services-mob .content-grid-services .serv-col-mob .content-ser-back {
      height: 100%;
      max-width: 500px;
      background-color: transparent; } }

/*# sourceMappingURL=resposive-home.css.map */
