@import "global";

  body{
    color: #696969;
    font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
  }

.btn-saiba-mais:hover {
  background-color: #fff !important;
  color: #559ef6;
  box-shadow: inset 0 0 0 3px #559ef6;
  border-color: #559ef6;
}

.img-background-home-top{
  -webit-filter:  grayscale(20%) brightness(0.4);
  filter: grayscale(20%) brightness(0.4);
  position: absolute;
  width: 100%;
  height: 620px;

}

.btn-enviar-contato{


  margin-left: 5%;
  padding: 0 !important;
  width: auto;
  height: auto;
  position: absolute;
  margin-top: -3px;
}
.ul-footer{
  display:table-row;

  li{
    display: inline-table;
    list-style-type: none;
    //margin: 0px 20px;
    vertical-align: top;

  }
}